<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Mr. Coffee</title>
</head>
<body>
    <h2>WELCOME, PLEASE ENTER YOUR DETAILS</h2>
    <div class="form">
 <form action="/users/new" method="post">
 <label for="firstname">Enter Name</label>
 <input id="firstname" type="text" name="firstname" >
 <label for="lastname">Last Name</label>
 <input id="lastname" type="text" name="lastname" >
 <label for="email">Email</label>
 <input id="email" type="text" name="email" >
 <label for="password">Password</label>
 <input id="password" type="text" name="password" >
 <input type="submit" value="OK">
 </form>
</div>
</body>
</html>